alias ls=" ls"
alias cd=" cd"
alias install="sudo apt-get install"

# Language aliases
alias rb='ruby'
alias py='python'
alias ipy='ipython'

# enable color support of ls and also add handy aliases
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto'
    #alias dir='dir --color=auto'
    #alias vdir='vdir --color=auto'

    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi

# some more ls aliases
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

# Add an "alert" alias for long running commands.  Use like so:
#   sleep 10; alert
alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'
# alias impscad="/home/erik/.cabal/bin/extopenscad"
alias project="vi \$(cat project) +vs"
alias ccat='pygmentize -g'
alias rg="ranger"
alias weer="curl -4 http://wttr.in"

# alias matlab="matlab -nosplash"

## Colorize the ls output ##
alias ls='ls --color=auto'

## Use a long listing format ##
alias ll='ls -la'

## Show hidden files ##
alias l.='ls -d .* --color=auto'

## get rid of command not found ##
alias cd..='cd ..'

 ## a quick way to get out of current directory ##
alias ..='cd ..'
alias ..='cd ..'         # Go up one directory
alias cd..='cd ..'       # Common misspelling for going up one directory
alias ...='cd ../..'     # Go up two directories
alias ....='cd ../../..' # Go up three directories
alias -- -='cd -'        # Go back

# Shell History
alias h='history'

alias e=exit
# alias ee="kill $(jobs -p);exit"
alias c=clear

alias v=vim

alias n="nautilus ."

alias gits="git stash"
alias gitsl="git stash list"
alias gitsp="git stash pop"
alias gitc="git checkout"
alias gitcd="gitc develop"
alias gitcm="gitc master"
alias gitclean="git clean -d -f -x -n"

alias prjct="gnome-terminal -x zsh -c \"source ~/.zshrc; sh ~/project_tmux;\""
# alias gncpp="gnome-terminal -x zsh -c \"source ~/.zshrc; sh ~/cpp_tmux; \""
alias tx='tmux'
alias txk="tmux kill-session"
alias txl='tmux ls'
alias txn='tmux new -s'
alias txa='tmux a -t'

alias gn="gnome-terminal"
alias py=python
alias arduino="sudo /opt/arduino-1.8.5/arduino"
alias bCNC="python ~/Software/bCNC/bCNC.py"
alias bcnc="python ~/Software/bCNC/bCNC.py"
